@-moz-document domain("mail.google.com") {
/* main search box */
#gbqfqw {
	border: 1px solid #3a3a3a;
	background: #212121;	
	color: #93a1a1;
}

/* buttons, input fields */
input[type="text"],
textarea,
[role="button"]:not([class="hN"]):not([class="hO"]) {
	background: #212121 !important;
	color: #93a1a1 !important;
}

/* mail list surroundings */
table[role="presentation"] *:not([style*="rgb"]):not([role="button"]):not([class*="hM"]) {
	background-color: #141414 !important;
	border-color: #3a3a3a !important;
	color: #93a1a1;
}

/* mail list */
.AO {
	background-color: #141414;	
	color: #93a1a1;
}

/* mail list unread */
* .zA.zE {
   background-color: black;
	color: #eee8d5 !important;
}

/* message edit toolbar */
[role="toolbar"] *:not([role="button"]):not([class="aZ"]) {
/* 	background-color: #3a3a3a !important; */
	color: #93a1a1;
	border: 1px solid #212121;
}

/* mail body (not links) */
.ii.gt.adP.adO *:not(a),
.gmail_default {
	color: #93a1a1 !important;
}

/* popup menus */
[role="menu"],
[role="menuitem"],
[role="menuitem"],
[role="dialog"],
.aaZ,
.aZ .J-Z {
	background: #212121 !important;
	color: #93a1a1 !important;
   border: 1px solid #2a2a2a;
}

/* write mail popup */
.et, .wO.nr, .aoT, .Ap, .Ar, .At, .Am, .aX, .gU, .aDh, .aA4, .gU, .Uz, .GQ {
	background: #212121 !important;
	color: #93a1a1 !important;
}
[role="button"] [role="button"],
.n1tfz [role="button"], .aDh {
 	border: 1px solid #3a3a3a;  
}
.Uz, .aoC .gU, .az2 {
   border: none;
}

/* ad sections */
table[role="presentation"] div[role="complementary"] {
	display: none;
}

/* left navigation links */
[role="navigation"] a,
[role="navigation"] a:visited,
[role="navigation"] a:hover {
	color: #93a1a1 !important;
}

/* links */
a {
	color: #eee8d5 !important;
}
a:visited {
	color: #93a1a1 !important; /* magenta */
}
a:hover {
	color: #cb4b16 !important; /* orange */
}
}

@-moz-document url-prefix("https://calendar.google.com/calendar/mgadget") {
/* Calendar gadget */
.calendar-container * {
	color: #93a1a1;
	background-color: transparent !important;
}
}